body {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primaryColor);
  background-color: var(--background);
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
}

button {
  cursor: pointer;
}

button,
input,
select,
textarea {
  font-family: inherit;
  margin: 0;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1158px;
}

.section {
  padding: 120px 0;
}

/** VARIABLES  */

:root {
  /* main colors */
  --primaryColor: #434455;
  --headingsColor: #2e2f42;
  /* logo */
  --logoFirst: #4d5ae5;
  --logoLast: #2e2f42;
  /* other */
  --border: #e7e9fc;
  --mainBackground: #2e2f42;
  --BtnBackground: #4d5ae5;
  --background: #ffffff;
  --whiteText: #ffffff;
  /* portfolio */
  --portfolioButton: #f4f4fd;
  --portfolioBtnText: #4d5ae5;
  --portfolioButtonActive: #404bbf;
  /* portfolio-overlay */
  --overbackground: #4d5ae5;
  --overText: #f4f4fd;
  /* footer */
  --logoFooter: #f4f4fd;
  --footerBackground: #2e2f42;
  --footerContent: #f4f4fd;
  /* active/hover */
  --activeLink: #404bbf;
  --activeBtn: #ffffff;
  --activeBtnBackground: #404bbf;
  /* social links */
  --socialLink: #4d5ae5;
  --socialActive: #404bbf;
  --socialFooterActive: #31d0aa;
  /* transition  */
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/** Visually hidden */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/** HEADER */

.header {
  padding: 24px 0;
  border-bottom: 1px solid var(--border);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logoFirst);
  text-transform: uppercase;
}

.logo-primary {
  color: var(--logoLast);
}

.nav__list {
  display: flex;
  gap: 40px;
}

.nav__list-link {
  position: relative;
  padding: 24px 0;
  font-weight: 500;
  color: var(--headingsColor);
  transition: color var(--transition);
}

.nav__list-link:hover,
.nav__list-link:focus {
  color: var(--activeLink);
}

.nav__list-link:hover::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background: var(--activeLink);
  border-radius: 2px;
}

/** --Current Active Page--  */
.current {
  color: var(--activeLink);
}

.current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: -1px;
  background-color: var(--activeLink);
  border-radius: 2px;
}

.address {
  font-style: normal;
}

.address__list {
  display: flex;
  gap: 40px;
}

.address__list-link {
  color: var(--primaryColor);
  transition: color var(--transition);
}

.address__list-link:hover,
.address__list-link:focus {
  color: var(--activeLink);
}

/** HERO/MAIN  */

.hero {
  max-width: 1440px;
  margin: 0 auto;
  padding: 188px 0;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-title {
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
  max-width: 496px;
  font-size: 56px;
  line-height: 1.07;
  color: var(--whiteText);
}

.main-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  /* font-family: "Roboto", sans-serif; */
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--BtnBackground);
  color: var(--whiteText);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition);
}

.main-btn:hover,
.main-btn:focus {
  background: var(--activeBtnBackground);
}

/** ADVANTAGES  */

.advantages__items {
  display: flex;
  gap: 24px;
}

.advantages__item {
  max-width: 264px;
}

.advantages-svgs {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4fd;
  border-radius: 4px;
  padding: 24px 100px;
  /* width: 100%;
  height: 112px; */
}

.advantages__item-title {
  margin-bottom: 8px;
  color: var(--headingsColor);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/** ABOUT  */

.about {
  padding-top: 0;
}

.about-title {
  margin-bottom: 72px;
  text-align: center;
  color: var(--headingsColor);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.about__products {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.about-img {
  border: 1px solid var(--border);
}

/** TEAM  */

.team {
  background: #f4f4fd;
  padding: 120px 0;
}

.team-title {
  margin-bottom: 72px;
  text-align: center;
  color: var(--headingsColor);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.team__items {
  display: flex;
  gap: 24px;
}

.team__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 3 * 24px) / 4);
  background: var(--background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team__item-wrapper {
  padding: 32px 0;
  text-align: center;
}

.team__item-name {
  color: var(--headingsColor);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.team__item-title {
  margin: 8px 0;
}

.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.team__list-link {
  background: var(--socialLink);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px;
  border-radius: 50%;
  transition: background-color var(--transition);
}

.team__list-link:hover,
.team__list-link:focus {
  background-color: var(--socialActive);
}

.team__list-svg {
  fill: #f4f4fd;
}

/** CUSTOMERS  */

.customers__items {
  display: flex;
  gap: 24px;
}

.customers__item {
  height: 88px;
  width: calc((100% - 120px) / 6);
}

.customers__item-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  color: #8e8f99;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  transition: border-color var(--transition), color var(--transition);
}

.customers__item-link:hover,
.customers__item-link:focus {
  color: var(--activeLink);
  border-color: var(--activeLink);
}

.customers__item-svg {
  fill: currentColor;
}

.customers-title {
  margin-bottom: 72px;
  text-align: center;
  color: var(--headingsColor);
  font-size: 36px;
  line-height: 1.11;
  text-transform: capitalize;
}

.customers-svgs {
  border: 1px solid #8e8f99;
  border-radius: 4px;
  padding: 16px 32px;
}

/** FOOTER  */

.footer {
  padding: 100px 0;
  background-color: var(--footerBackground);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer__text {
  max-width: 264px;
  font-weight: 400;
  color: var(--footerContent);
}

.footer__item:first-child {
  margin-right: 120px;
}

.footer__item-desc {
  color: var(--whiteText);
  font-weight: 500;
  margin-bottom: 16px;
}

.footer__social-list {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer__social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: var(--socialLink);
  border-radius: 50%;
  transition: background-color var(--transition);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--socialFooterActive);
}

.footer__social-svg {
  fill: #f4f4fd;
}

.logo-secondary {
  display: inline-block;
  margin-bottom: 16px;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  color: var(--logoFooter);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/** Footer FORM  */

.footer__form {
  margin-left: auto;
}

.subscribe__form {
  display: flex;
  gap: 24px;
}

.footer__input {
  padding: 8px 16px;
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: transparent;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--whiteText);
}

.footer__submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--BtnBackground);
  color: var(--whiteText);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  transition: background-color var(--transition);
}

.footer__submit-btn:hover,
.footer__submit-btn:focus {
  background: var(--activeBtnBackground);
}

.footer__submit-svg {
  margin-left: 16px;
}

/** PAGE PORTFOLIO  */

.portfolio {
  padding-top: 96px;
}

.portfolio__sort {
  margin-bottom: 72px;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.portfolio__sort-btn {
  /* font-family: "Roboto", sans-serif; */
  padding: 12px 24px;
  color: var(--portfolioBtnText);
  background: var(--portfolioButton);
  border: 1px solid var(--border);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

.portfolio__sort-btn:hover,
.portfolio__sort-btn:focus {
  color: var(--activeBtn);
  background-color: var(--activeBtnBackground);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio__items {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio__item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow var(--transition);
}

.portfolio__item-link {
  display: block;
  transition: box-shadow var(--transition);
}

.portfolio__item-link:hover,
.portfolio__item-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio__item-link:hover .portfolio__overlay-text,
.portfolio__item-link:focus .portfolio__overlay-text {
  transform: translateY(0);
}

.portfolio__overlay {
  position: relative;
  overflow: hidden;
  transition: 300ms linear;
}

.portfolio__overlay-text {
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--overText);
  background: var(--overbackground);
  transform: translateY(100%);
  transition: transform var(--transition);
}

.portfolio__item-wrapper {
  padding: 32px 16px;
  border: 1px solid var(--border);
  border-top: none;
}

.portfolio__item-title {
  margin-bottom: 8px;
  color: var(--headingsColor);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

.portfolio__item-text {
  color: var(--primaryColor);
}

/** MODAL&BACKDROP */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  z-index: 2;
  transition: opacity var(--transition), visibility var(--transition);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  padding: 72px 24px 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 408px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--transition);
}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 24px;
  top: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border-radius: 50%;
  background: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--activeLink);
  border: none;
}

.modal-btn:hover .modal-cross,
.modal-btn:focus .modal-cross {
  fill: var(--activeBtn);
}

.modal-cross {
  transition: fill var(--transition);
}

.modal__description {
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__form-item {
  margin-bottom: 8px;
}

.modal__form-textarea {
  margin-bottom: 16px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal__form-wrap {
  position: relative;
}

.modal__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color var(--transition);
}

.modal__input:focus-within {
  border-color: #4d5ae5;
}

.modal__form-svg {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--transition);
}

.modal__input:focus-within + .modal__form-svg {
  fill: #4d5ae5;
}

.modal__textarea {
  padding: 8px 16px;
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  transition: border-color var(--transition);
}

.modal__textarea:focus-within {
  border-color: #4d5ae5;
}

.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.modal__form-privacy {
  margin-bottom: 24px;
}

.privacy__label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  cursor: pointer;
}

.modal__svg-wrap {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.privacy__checkbox:checked + .privacy__label > .modal__svg-wrap {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal__privacy-link {
  color: var(--BtnBackground);
  text-decoration: underline;
  display: inline-block;
  margin-left: 3px;
}

.modal__submit-btn {
  margin: 0 auto;
  display: block;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  background-color: var(--BtnBackground);
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  line-height: 1.5;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--whiteText);
  transition: background-color var(--transition);
}

.modal__submit-btn:hover,
.modal__submit-btn:focus {
  background: var(--activeBtnBackground);
}
